<h1>Account</h1>
<p>I made this feature primarily for the ability to update projects through a panel on this site, but have decided to make it available for all visitors.</p>

<div class="container flex-row d-flex">
	<form method="post" asp-controller="account" asp-action="logout">
		<div class="flex-column d-flex section align-self-start">
			<a href="account/register" class="btn-primary p-2 action-btn">Register</a>
			<a href="account/login" class="btn-primary p-2 action-btn">Login</a>
				<input type="submit" value="Logout" class="btn-primary p-2 action-btn" >
			@*<a href="account/logout" class="btn-primary p-2 action-btn">Logout</a>*@
		</div>
	</form>

	<div id="user-details" class="flex-column d-flex align-self-start">
		<h3>User</h3>
		<span><b>UserName:</b> @(ViewBag.UserName ?? "N/A")</span>
		<span><b>Role:</b> @(ViewBag.Role ?? "N/A")</span>
	</div>
</div>