@using AlphaBlade01.Logic.Models.DTOs
@model InputProjectModel

<script defer src="~/js/Projects/Media.js"></script>

<img class="meta" id="meta-img" />
<video class="meta" id="meta-vid"></video>

<form class="form" action="/projects/add" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" type="text" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" type="text" asp-for="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Project Type</label>
        <select class="form-control" asp-for="ProjectType">
            @foreach (string name in Enum.GetNames(typeof(ProjectType))) {
                <option value="@name">@name</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label>Timestamp</label>
        <input class="form-control" type="date" asp-for="DateUploaded" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
    </div>

    <div class="form-group">
        <label>Thumbnail</label>
        <input class="form-control" type="file" asp-for="Thumbnail" accept="image/*" />
        <img id="thumbnail-preview" class="preview" />
        <span asp-validation-for="Thumbnail" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label>Previews</label>
        @Html.EditorFor(m => m.Previews)
        <div id="previews-container"></div>
        <span asp-validation-for="Previews" class="text-danger"></span>
    </div>

    <button id="submit-button" class="btn-primary" type="submit">Submit</button>
</form>
