@model ImmutableArray<ProjectDTO>

@using AlphaBlade01.Logic.Models.DTOs;
@using System.Collections.Immutable;

<div class="container">
	<h1>Projects</h1>
	<a id="add-button" class="btn-primary" href="/projects/add">
		+
	</a>
</div>


<div class="main-container">
	@foreach (ProjectType projectType in Enum.GetValues(typeof(ProjectType)))
	{
		if (Model.Where(project => project.ProjectType == projectType).Count() == 0) continue;

		<h2>@projectType.ToString()</h2>
		<div class="container scrollable-x">
			@foreach (ProjectDTO project in Model)
			{
				if (project.ProjectType != projectType) continue;

				<div class="project-tile">
					<div class="thumbnail-wrapper">
						<img class="project-thumbnail" src="projects/getprojectthumbnail?id=@(project.Id)" />
					</div>
					<label class="project-label">@project.Name</label>
					<a class="trigger" href="/projects/view/@project.Id"></a>
				</div>
			}
		</div>
	}
</div>