#thumbnail {
    height: 15em;
    width: auto;
    border-radius: 10px;
    cursor: pointer;
}

.flex-item {
    margin-top: 2em;
}

#description {
    width: 85%;
    text-align: center;
}

#timestamp {
    color: rgb(128, 128, 128);
}

* {
    font-family: Cabin;
}

.preview {
    max-height: 20em;
    width: auto;
    margin: 0px 5px 10px;
    border-radius: 5px;
}

#previews-wrapper {
    align-self: center;
    width: 90%;
}

#previews-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    align-items: center;
}

#edit-btn {
    float: right;
}
