html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    background-image: url(../assets/images/BannerBackground.png);
    background-size: cover;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
    border-radius: 5px;
    background-color: #f772d1 !important;
    background: linear-gradient(to bottom right, #c872f2, transparent);
    transition: background-color 0.5s;
    border: none;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: aqua !important;
}